<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fabulous.Core" version="0.31.0" />
  <package id="Fabulous.CustomControls" version="0.31.0" />
  <package id="Fabulous.LiveUpdate" version="0.31.0" />
  <package id="FSharp.Core" version="4.6.1" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Identity.Client" version="2.7.0" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.2" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Security.SecureString" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Essentials" version="0.6.0-preview" />
  <package id="Xamarin.Forms" version="3.4.0.1009999" />
</packages>